package ${package.Controller};
import java.util.Map;
import java.util.Date;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.baomidou.mybatisplus.plugins.Page;
import cn.exrick.xboot.common.utils.ZyResult;
import ${package.Entity}.${entity};
import ${package.Service}.I${entity}Service;

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("/${table.entityPath}s")
public class ${table.controllerName}  {
    @Autowired private I${entity}Service ${table.entityPath}Service;

    /**
    * 通过ID查询
    *
    * @param id ID
    * @return ${entity}
    */
    @GetMapping()
    public ZyResult get(${entity} ${table.entityPath}, Page page) {
        return ZyResult.ok(${table.entityPath}Service.selectPage(page,new EntityWrapper<>(${table.entityPath})));
    }



    /**
     * 添加
     * @param  ${table.entityPath}  实体
     * @return success/false
     */
    @PostMapping
    public ZyResult add(@RequestBody ${entity} ${table.entityPath}) {
        return ZyResult.ok(${table.entityPath}Service.insertOrUpdate(${table.entityPath}));
    }

    /**
     * 删除
     * @param id ID
     * @return success/false
     */
    @DeleteMapping
    public ZyResult delete(${entity} ${table.entityPath}) {
        return ZyResult.ok(${table.entityPath}Service.deleteById(${table.entityPath}.getId()));
    }

    /**
     * 编辑
     * @param  ${table.entityPath}  实体
     * @return success/false
     */
    @PutMapping
    public ZyResult edit(@RequestBody ${entity} ${table.entityPath}) {
        return ZyResult.ok(${table.entityPath}Service.updateById(${table.entityPath}));
    }
}
